:root{
    --clr-primary: #fff;
    --clr-secondary: #333;
    --clr-in-hover: orange;
    --bg-primary: #f5f5f5f5;
}
body{
    overflow-x: hidden;
    background: var(--bg-primary);
}
.main{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.main .sidenav{
    position: relative;
    width: 25%;
    height: 100%;
    overflow-y: scroll;
}
.main .main-content{
    position: relative;
    top: 0;
    height: 100%;
    flex:1;
    overflow-y: scroll;
   
}
.sidenav .a-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: darkblue;
}
.sidenav .ul a , .sidenav .li-home a{
    text-decoration: none;
    color: var(--clr-secondary);
}
.sidenav-header{
    border-bottom:1px solid var(--clr-secondary);
    padding-bottom: .5rem;
}
.sidenav .li-home{
    margin-left: 3rem;
}
.li-home a:hover ,.sidenav .li-home i:hover{
 color: var(--clr-in-hover);
}
.main-content .main-content-header .card{
    cursor: pointer;
}
.main-content{
    overflow-y: scroll;
}
.sidenav .activities a , .sidenav .household a , .sidenav .contact a, .sidenav .meeting a{
    text-decoration: none;
    color: var(--clr-secondary);
}
.sidenav .activities a:hover , .sidenav .household a:hover , .sidenav .contact a:hover , .sidenav .meeting a:hover{
    color: var(--clr-in-hover);
}
._sidenav-btn{
    position: absolute;
    top: 0%;
    right: 0;
    z-index: 999;
}
.events-table tbody tr td img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateY(-20%);
}
